@import "modular-scale";

@function ms-list2($start, $end, $base, $ratio) {
	$list: ();
	@for $i from $start through $end {
		$list: append($list, ms-calc($i, $base, $ratio));
	}
	@return $list;
}

$heading-modular-sizes: true !default;
$heading-font-family: $optima !default;
$heading-scale-start: 3 !default;
$heading-scale: $major-third !default;

$heading-size-list: ms-list2($heading-scale-start, $heading-scale-start - 5, 1em, $heading-scale) !default;
//@debug $heading-size-list;

@include headings {
	font-family: $heading-font-family;
	font-weight: 700;
	@extend %size !optional;
}

@if $heading-modular-sizes {
	@for $i from 1 through length($heading-size-list) {
		h#{$i}%size {
			font-size: nth($heading-size-list, $i);

			@if nth($heading-size-list, $i) > 1em {
				margin: scale-em(nth($heading-size-list, $i), 1em) 0;
			}
		}
	}
}
