blockquote {
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin: 1em 2em;
	font-family: $serif;
	padding: 1em;
	
	&[cite]:after {
		margin-top: 1em;
		text-align: right;
		font-style: italic;
	}
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
